<?xml version='1.0' encoding='utf-8'?>
<robot name="robot" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <link name="robot_base_link" />
  <link name="robot_link1" />
  <link name="robot_link2" />
  <link name="robot_link3" />
  <link name="robot_link4" />
  <link name="robot_link5" />
  <link name="robot_link6" />
  <link name="robot_link7" />
  <link name="robot_link8" />
  <link name="robot_link9" />
  <link name="robot_link10" />

  <joint name="robot_joint1" type="continuous"><parent link="robot_base_link"/><child link="robot_link1"/></joint>
  <joint name="robot_joint2" type="continuous"><parent link="robot_base_link"/><child link="robot_link2"/></joint>
  <joint name="robot_joint3" type="continuous"><parent link="robot_base_link"/><child link="robot_link3"/></joint>
  <joint name="robot_joint4" type="continuous"><parent link="robot_base_link"/><child link="robot_link4"/></joint>
  <joint name="robot_joint5" type="continuous"><parent link="robot_base_link"/><child link="robot_link5"/></joint>
  <joint name="robot_joint6" type="continuous"><parent link="robot_base_link"/><child link="robot_link6"/></joint>
  <joint name="robot_joint7" type="continuous"><parent link="robot_base_link"/><child link="robot_link7"/></joint>
  <joint name="robot_joint8" type="continuous"><parent link="robot_base_link"/><child link="robot_link8"/></joint>
  <joint name="robot_joint9" type="continuous"><parent link="robot_base_link"/><child link="robot_link9"/></joint>
  <joint name="robot_joint10" type="continuous"><parent link="robot_base_link"/><child link="robot_link10"/></joint>

  <xacro:property name="prefix" value="robot_" />
  <xacro:property name="front_left_wheel_steering_joint" value="joint1" />
  <xacro:property name="front_right_wheel_steering_joint" value="joint2" />
  <xacro:property name="rear_left_wheel_steering_joint" value="joint3" />
  <xacro:property name="rear_right_wheel_steering_joint" value="joint4" />
  <xacro:property name="front_left_wheel_spinning_joint" value="joint5" />
  <xacro:property name="front_right_wheel_spinning_joint" value="joint6" />
  <xacro:property name="rear_left_wheel_spinning_joint" value="joint7" />
  <xacro:property name="rear_right_wheel_spinning_joint" value="joint8" />
  <xacro:property name="maximal_wheel_steering_angle" value="0.5" />
  <xacro:property name="maximal_wheel_speed" value="1.0" />

  <xacro:property name="live_hardware_plugin" value="foo" />
  <xacro:property name="wheelbase" value="1.2" />
  <xacro:property name="front_track" value="1.4" />
  <xacro:property name="front_wheel_radius" value="0.5" />
  <xacro:property name="rear_track" value="1.0" />
  <xacro:property name="rear_wheel_radius" value="0.3" />
  <xacro:property name="maximal_wheel_steering_angle" value="0.50" />
  <xacro:property name="maximal_wheel_speed" value="1.0" />

  <xacro:include
    filename="$(find romea_mobile_base_description)/ros2_control/base4WS4WD.ros2_control.xacro" />
  <xacro:base_control mode="live" base_name="base" hardware_plugin="${live_hardware_plugin}" />

</robot>