<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="base_control" params="use_sim">

    <ros2_control name="${prefix}base" type="system">

        <xacro:if value="$(arg use_sim)">
            <hardware>
              <plugin>gazebo_ros2_control/GazeboSystem</plugin>
            </hardware>
        </xacro:if>

        <joint name="${prefix}${high_left_sprocket_wheel_spinning_joint}">
          <command_interface name="velocity">
            <param name="min">-1</param>
            <param name="max">1</param>
          </command_interface>
          <state_interface name="position"/>
          <state_interface name="velocity"/>
          <state_interface name="effort"/>
        </joint>

        <joint name="${prefix}${high_right_sprocket_wheel_spinning_joint}">
          <command_interface name="velocity">
            <param name="min">-1</param>
            <param name="max">1</param>
          </command_interface>
          <state_interface name="position"/>
          <state_interface name="velocity"/>
          <state_interface name="effort"/>
        </joint>

        <joint name="${prefix}${left_idler_wheel_spinning_joint}">
          <command_interface name="velocity">
            <param name="min">-1</param>
            <param name="max">1</param>
          </command_interface>
          <state_interface name="position"/>
          <state_interface name="velocity"/>
          <state_interface name="effort"/>
        </joint>

        <joint name="${prefix}${right_idler_wheel_spinning_joint}">
         <command_interface name="velocity">
           <param name="min">-1</param>
           <param name="max">1</param>
         </command_interface>
         <state_interface name="position"/>
         <state_interface name="velocity"/>
         <state_interface name="effort"/>
        </joint>

         <joint name="${prefix}${front_left_roller_wheel_spinning_joint}">
           <command_interface name="velocity">
             <param name="min">-1</param>
             <param name="max">1</param>
           </command_interface>
           <state_interface name="position"/>
           <state_interface name="velocity"/>
           <state_interface name="effort"/>
         </joint>

        <joint name="${prefix}${front_right_roller_wheel_spinning_joint}">
          <command_interface name="velocity">
            <param name="min">-1</param>
            <param name="max">1</param>
          </command_interface>
          <state_interface name="position"/>
          <state_interface name="velocity"/>
          <state_interface name="effort"/>
        </joint>

        <joint name="${prefix}${rear_left_roller_wheel_spinning_joint}">
          <command_interface name="velocity">
            <param name="min">-1</param>
            <param name="max">1</param>
          </command_interface>
          <state_interface name="position"/>
          <state_interface name="velocity"/>
          <state_interface name="effort"/>
        </joint>

       <joint name="${prefix}${rear_right_roller_wheel_spinning_joint}">
         <command_interface name="velocity">
           <param name="min">-1</param>
           <param name="max">1</param>
         </command_interface>
         <state_interface name="position"/>
         <state_interface name="velocity"/>
         <state_interface name="effort"/>
       </joint>


    </ros2_control>

  </xacro:macro>

</robot>

