<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

   <xacro:macro name="base_control" params="mode">

    <ros2_control name="${prefix}base" type="system">

      <xacro:if value="${mode == 'live'}">
          <hardware>
            <plugin>${live_hardware_plugin}</plugin>
            <param name="wheelbase">${wheelbase}</param>
            <param name="front_track">${front_track}</param>
            <param name="front_wheel_radius">${front_wheel_radius}</param>
            <param name="front_hub_carrier_offset">${front_hub_carrier_offset}</param>
            <param name="rear_wheel_radius">${rear_wheel_radius}</param>
          </hardware>
      </xacro:if>

       <xacro:if value="${mode == 'simulation'}">
           <hardware>
             <plugin>${simulation_hardware_plugin}</plugin>
             <param name="wheelbase">${wheelbase}</param>
             <param name="front_track">${front_track}</param>
             <param name="front_wheel_radius">${front_wheel_radius}</param>
             <param name="front_hub_carrier_offset">${front_hub_carrier_offset}</param>
             <param name="rear_wheel_radius">${rear_wheel_radius}</param>
           </hardware>
       </xacro:if>

       <joint name="${prefix}${front_axle_steering_joint}">
         <command_interface name="position">
           <param name="min">-1</param>
           <param name="max">1</param>
         </command_interface>
         <state_interface name="position"/>
       </joint>


        <joint name="${prefix}${front_left_wheel_steering_joint}">
          <state_interface name="position"/>
        </joint>

        <joint name="${prefix}${front_right_wheel_steering_joint}">
          <state_interface name="position"/>
        </joint>

         <joint name="${prefix}${front_left_wheel_spinning_joint}">
           <state_interface name="position"/>
           <state_interface name="velocity"/>
           <state_interface name="effort"/>
         </joint>

        <joint name="${prefix}${front_right_wheel_spinning_joint}">
          <state_interface name="position"/>
          <state_interface name="velocity"/>
          <state_interface name="effort"/>
        </joint>

        <joint name="${prefix}${rear_left_wheel_spinning_joint}">
          <command_interface name="velocity">
            <param name="min">-1</param>
            <param name="max">1</param>
          </command_interface>
          <state_interface name="position"/>
          <state_interface name="velocity"/>
          <state_interface name="effort"/>
        </joint>

        <joint name="${prefix}${rear_right_wheel_spinning_joint}">
          <command_interface name="velocity">
            <param name="min">-1</param>
            <param name="max">1</param>
          </command_interface>
          <state_interface name="position"/>
          <state_interface name="velocity"/>
          <state_interface name="effort"/>
        </joint>

    </ros2_control>

  </xacro:macro>

</robot>


