<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

   <xacro:macro name="base_control" params="mode">

    <ros2_control name="${prefix}base" type="system">

       <xacro:if value="${mode == 'live'}">
           <hardware>
             <plugin>${live_hardware_plugin}</plugin>
             <param name="sprocket_wheel_radius">${sprocket_wheel_radius}</param>
             <param name="idler_wheel_radius">${idler_wheel_radius}</param>
             <param name="track_thickness">${track_thickness}</param>
           </hardware>
       </xacro:if>

        <xacro:if value="${mode == 'simulation'}">
            <hardware>
              <plugin>${simulation_hardware_plugin}</plugin>
              <param name="sprocket_wheel_radius">${sprocket_wheel_radius}</param>
              <param name="idler_wheel_radius">${idler_wheel_radius}</param>
              <param name="track_thickness">${track_thickness}</param>
            </hardware>
        </xacro:if>

        <joint name="${prefix}${left_sprocket_wheel_spinning_joint}">
          <command_interface name="velocity">
            <param name="min">-1</param>
            <param name="max">1</param>
          </command_interface>
          <state_interface name="position"/>
          <state_interface name="velocity"/>
          <state_interface name="effort"/>
        </joint>

        <joint name="${prefix}${right_sprocket_wheel_spinning_joint}">
          <command_interface name="velocity">
            <param name="min">-1</param>
            <param name="max">1</param>
          </command_interface>
          <state_interface name="position"/>
          <state_interface name="velocity"/>
          <state_interface name="effort"/>
        </joint>

         <joint name="${prefix}${front_left_idler_wheel_spinning_joint}">
           <command_interface name="velocity">
             <param name="min">-1</param>
             <param name="max">1</param>
           </command_interface>
           <state_interface name="position"/>
           <state_interface name="velocity"/>
           <state_interface name="effort"/>
         </joint>

        <joint name="${prefix}${front_right_idler_wheel_spinning_joint}">
          <command_interface name="velocity">
            <param name="min">-1</param>
            <param name="max">1</param>
          </command_interface>
          <state_interface name="position"/>
          <state_interface name="velocity"/>
          <state_interface name="effort"/>
        </joint>

        <joint name="${prefix}${rear_left_idler_wheel_spinning_joint}">
          <command_interface name="velocity">
            <param name="min">-1</param>
            <param name="max">1</param>
          </command_interface>
          <state_interface name="position"/>
          <state_interface name="velocity"/>
          <state_interface name="effort"/>
        </joint>

       <joint name="${prefix}${rear_right_idler_wheel_spinning_joint}">
         <command_interface name="velocity">
           <param name="min">-1</param>
           <param name="max">1</param>
         </command_interface>
         <state_interface name="position"/>
         <state_interface name="velocity"/>
         <state_interface name="effort"/>
       </joint>


    </ros2_control>

  </xacro:macro>

</robot>

