<?xml version='1.0' encoding='utf-8'?>
<robot name="robot" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:property name="prefix" value="robot_" />
  <xacro:property name="front_left_wheel_steering_joint" value="joint1" />
  <xacro:property name="front_right_wheel_steering_joint" value="joint2" />
  <xacro:property name="front_left_wheel_spinning_joint" value="joint3" />
  <xacro:property name="front_right_wheel_spinning_joint" value="joint4" />
  <xacro:property name="rear_left_wheel_spinning_joint" value="joint5" />
  <xacro:property name="rear_right_wheel_spinning_joint" value="joint6" />

  <xacro:include
    filename="$(find romea_mobile_base_description)/ros2_control/base2FWS2FWD.ros2_control.xacro" />
  <xacro:base_control mode="test" base_name="base" />

</robot>